* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(
        0deg,
        #4a63a7,
        #ccffff
      );

}


h1 {
    text-align: center;
    color: white;
    background-color: rgb(16, 10, 54);
    margin: 10px;
    padding-top: 40px;
    height: 100px;
    font-size: 40px;
}


article {
    display: inline-block;
    position: relative;
    width: 70%;
    height: 100%;
    background-color: white;
    margin: 10px;
}
article p {
    margin: 10px;
}
h2 {
    text-align: center;
}

.imagen {
    width: 900px;
    left: 15%;
    margin: 10px;



}
article:hover {
    box-shadow: 0 0 5px 0 rgb(48, 48, 48);
}

aside {
    float: right;
}

aside div {
    width: 350px;
    height: 1020px;
    margin: 0 auto;
    border: 1px solid black;

    background-color: white;
}

footer {
    
    width: 100%;
    height: 140px;
    background-color: rgb(0, 0, 0);

}

footer a {
    display: inline-block;
    font-size: 10px;
    font-style: normal;
    text-decoration: none;
    
    
}

footer p {
    text-align: center;
    font-style: oblique;
    text-decoration: underline;
    color: white;
}

@media (max-width: 1320px) {
    aside {
      float: none;
    }
    aside div {
        width: 100%;
        height: 200px;
        border: 1px solid black;

        background-color: white;
        text-align: center;
    }
    aside section {
        display: inline-block;
        width: 100%;
   

    }
    article {
        width: 100%;
        margin: 0;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    h2 {
        text-align: center;
    }

    .imagen {
        float: right;
        margin-right: 10px;
        margin-bottom: 10px;
        width: 700px;
    }
    h1 {
        margin: 0;
        margin-bottom: 10px;
        width: 100%;
    }
    footer {
        margin: 0;
        width: 100%;
    }
  }

@media (max-width: 870px) {
      .imagen {
          display: inline-block;
          width: 400px;
          margin: 0 auto;
          margin-bottom: 10px;
    }
    footer{
        margin: 0 auto;
        width: 100%;
    }
}